:root[data-theme="light"] {
  --primary: rgb(221, 221, 221);
  --secondary: rgb(221, 221, 221);
  --tertiary: rgb(170, 170, 170);
  --hover: ;
  --accent: #312EB5;
  --active: #312EB5;
  --inactive: ;
  --disabled: ;
  --focus: ;
  --shadow: ;

  --link-hover: #ffffff08;
  --note-hover: #333333;
}

:root[data-theme="dark"] {
  --primary: #16141C;
  --secondary: #16141C;
  --tertiary: #24212B;
  --hover: #24212B;
  /* --primary: #7F22FE; */
  --accent: #5D0EC0;
  --active: #5D0EC0;
  --inactive: ;
  --disabled: ;
  --focus: ;
  --shadow: ;
  --link-hover: #24212B;
  --note-hover: #1E1C26;
}